.site_wrap {
	width: 960px;
}

.readout {
	background: white;
	height: 2em;
	line-height: 2em;
	margin-top: -3em;
	padding-left: 0.75em;
	padding-right: 0.75em;
	position: absolute;
	
	border: 2px solid #888888;
	
	-webkit-border-radius: 0.33em;
	   -moz-border-radius: 0.33em;
	     -o-border-radius: 0.33em;
	        border-radius: 0.33em;
	
	-webkit-box-shadow: 0 8px 6px rgba(20,20,20,0.6);
	   -moz-box-shadow: 0 8px 6px rgba(20,20,20,0.6);
	        box-shadow: 0 8px 6px rgba(20,20,20,0.6);
}